*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}


.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* hearder */
header{
    width: 100%;
    height: 600px;
    background: #bc4e9c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f80757a4, #bc4e9db0),url(../img/img2.jpg);  
 /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f80757a4, #bc4e9db0),url(../img/img2.jpg); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;

}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}
header.textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;

}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* footer */
footer{
    background: dimgrey;
    padding: 10px 0 10px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 60px;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;

}
.content-foo{
    text-align: center;
}

.content-foo h4{
    color: rgb(251, 251, 255);
    border-bottom: 2px solid #642a73;
    padding-bottom: 2px;
    margin-bottom: 10px;
}
 .content-foo p{
     color: #ccc;
 }

 .titulo-fnal{
     text-align: center;
    
     font-size: 24px;
     margin: 20px 0 0 0;
     color: #9e9797;
 }

 /* iframe */
 iframe{
     width: 80px;
     height: 200px;
 }
 #btn-fixed {
	display: block;
	position: fixed;
  bottom: 30px;
	right: 40px;
}

/*Nuestro servicio */
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-servicio img{
    width: 40%;
}
.checklist-servicio{
    width: 45%;
}
.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}
.number{
    display: inline-block;
    background-image:background-image linear-gradient(to top, #5927cf 0%, #e616ab88 100%); 
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;

}
.gallery{
    background: #f2f2f2;
}
 .contenedor-galeria{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

 .img-galeria{
     width: 300px;
     display: block;
     margin-bottom: 15px;
     box-shadow: 0 0 6px rgba(0, 0, 0, 5);
     cursor: pointer;
 }

 .imagen-ligth{
     position: fixed;
     background: rgba(0, 0, 0, .6);
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     transform: translate(100%);
     transition: transform .2s ease-in-out;
 }
.show{
    transform: translate(0);
}
 .agregar-imagen{
     width: 60%;
     border-radius: 10px;
     transform: scale(0);
     transition: transform .3s .2s;
 }
  
 .showImage{
     transform: scale(1);

 }

 .close{
     position: absolute;
     top: 15px;
     right: 15px;
     width: 40px;
     cursor: pointer;
 }

 
